<% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<main>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <h1>Editing Book</h1>
          <%= form_with model: @book do |f| %>

        <label for="book_title">Title</label>
          <p><%= f.text_field :title %></p>

        <label for="book_opinion">Opinion</label>
          <p><%= f.text_area :body %></p>

        <div class="form-group">
          <input type="submit" name="commit" value="Update Book" class="btn btn-success" data-disable-with="Update Book">
        </div>

        <p><%= link_to "Show", book_path %>|<%= link_to "Back", books_path %></p>

           <% end %>
      </div>
    </div>
  </div>
</main>
