<%= render 'list', book: @book_new, user: @user %>

<div>
  <h1>Book detail</h1>
  <%= image_tag @book.user.get_profile_image(100,100) %>

  <p><%= link_to @book.user.name, user_path(@user.id) %></p>
  <p><%= @book.title %></p>
  <p><%= @book.body %></p>

  <% if @book.user == current_user %>
  <p><%= link_to "Edit", edit_book_path(@book.id) %></p>
  <p><%= link_to "Destroy", book_path(@book), method: :delete %></p>
  <% end %>
</div>